<div style="margin-bottom: 20px; display: flex; align-items: center;">
  <img src="{{"/assets/img/jj.jpg" | relative_url }}"
               style="float: left; width: 200px; margin-right: 20px"/>
  <div>
    <h3>Jeffery M. Jackson MBA, Professor Emeritus</h3>

    After a thrilling career in the travel space, Professor Jackson has decided to take a break from
    his calm and restful retirement to give back to young business leaders in the 20s block of Noe
    St. in San Francisco. An expert in investment and company organization, in his free time he
    dotes on beloved deadbeat son and hippy daughter.
  </div>
</div>

<div style="display: flex; align-items: center;">
  <img src="{{"/assets/img/lj.jpg" | relative_url }}"
               style="float: left; width: 200px; margin-right: 20px"/>
  <div>
    <h3>Lydia J. Jackson BA, TA</h3>

    Florbes 40 under 40 finalist and bestselling cookbook author Lydia Jackson stepped away from a
    director of AMEA position at Totino's for a run at the nation's second-most-recognizable
    college's third-largest graduate school, the Yale School of Management. In her free time, she
    enjoys gardening and COVID-19 isolation best practices.
  </div>
</div>
